/*------- GENERAL -------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*100% -> 16px, alors 10px -> 62.5%*/

  /* Variables contenant les couleurs*/
  --couleur-primaire: #e20612;
  --titre: #061800;
  --paragraphe: #384633;

  --bordure-beige: #fff5f5;
  --bordure-light: #ffe3e3;

  --bg-light: #fff5f5;

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);
}

.emballage {
  width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2.4rem;
}

ul {
  list-style: none;
}

section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/*------- Home -------*/

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(87rem + var(--nav-height));
  background-color: var(--bordure-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h4 {
  font-size: 1.6rem;
  color: var(--couleur-primaire);
  margin-bottom: 1.6rem;
}

#home h1 {
  font-size: 3.4rem;
  color: var(--titre);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraphe);

  margin-bottom: 3.2rem;
}

#home button {
  background-color: var(--couleur-primaire);

  border: none;
  border-radius: 4rem;

  margin-bottom: 4rem;

  height: 6.2rem;
  width: 26.3rem;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;
}

#home img {
  width: 32rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  object-position: 0 0.2rem;
}

#home .infos {
  width: 32.7rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--bordure-beige);
  border: 1px solid var(--bordure-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .info h3 {
  font-size: 4.8rem;
  color: var(--titre);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .info p {
  margin: 0;
  color: var(--couleur-primaire);
  font-size: 1.6rem;
  line-height: 150%;
}

/*------- NAVIGATION -------*/

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .emballage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--couleur-primaire);
  width: 100vw;
}

nav.scroll .logo img {
  content: url('/assets/logo_white.png');
}

nav.scroll button img.open {
  content: url('/assets/menu_white.png');
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*------- MENU ETENDU -------*/

body.menu-etendu {
  overflow: hidden;
}

body.menu-etendu > :not(nav) {
  visibility: hidden;
}

.menu,
.fermer-menu,
body.menu-etendu .ouvrir-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-etendu .menu,
body.menu-etendu .fermer-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-etendu .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--couleur-primaire);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 350ms;

  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--couleur-primaire);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-etendu .logo,
body.menu-etendu button {
  position: relative;
  z-index: 100;
}

body.menu-etendu .logo img {
  content: url('/assets/logo_white.png');
}

/*------- Description du logement -------*/

#description header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;

  color: var(--couleur-primaire);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

#description header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--titre);

  margin-bottom: 6rem;
}

#description .cartes {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#description .carte {
  padding: 2.4rem;
  text-align: left;

  background: white;

  border: 1px solid var(--bordure-light);
  border-radius: 0.6rem;
}

#description .carte h3 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
